
.extra-thanks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 80vh;
  background: #ffffff;
}

.extra-thanks-text {
  margin: 0 0 1rem 0;
  font-size: 0.9rem;
}


.extra-thanks-back,
.extra-thanks-home {
  margin-top: 1rem;
  padding: 1rem 2.5rem;
  font-size: 1.3rem;
  border-radius: 8px;
  border: none;
  background: #e30b5c;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.extra-thanks-back:hover,
.extra-thanks-home:hover {
  background: #b8003c;
}

.extra-thanks-photo {
  max-width: 250px;
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 12px;
}

.root {
  text-align: center;
}

@media (max-width: 850px) {
  .extra-thanks-back,
  .extra-thanks-home {
    font-size: 1rem;
  }
}

